<footer>
  <div class="container-footer-top">
    <div class="ubicacion-content">
      <div class="place">
          <i class="fas fa-map-marker-alt"></i>
          <p>Av. Javier Prado Este 1184 Of. 102
              San Isidro</p>
      </div>
      <div class="redes-sociales">
        <a class="fb" href=""><i class="fab fa-facebook-f"></i></a>
        <a class="tw" href=""><i class="fab fa-twitter"></i></a>
        <a class="go" href=""><i class="fab fa-google-plus-g"></i></a>
      </div>
    </div>
  </div>
  <div class="container-footer">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
            Copyright © 2018 · Todos los derechos reservados · Dev37
        </div>
        <div class="col-md-6">
          <div class="email-contact">
              <i class="fas fa-envelope"></i> 
              <a href="mailto: info@cglogistics.com.pe"> info@cglogistics.com.pe</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>