<div class="nav-top">
  <div class="container-fluid">
    <div class="row">
      <div class="offset-4 col-8">
        <div class="container-tel-idio">
          <div class="tel">
            <i class="fas fa-phone-volume"></i>
            +(511) 201-8500
          </div>
          <div>|</div>
          <div class="idioma">
            <i class="fas fa-globe"></i>
            Idioma
            <i class="fas fa-sort-down"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<nav class="navbar fixed-top  navbar-expand-md navbar-light bg-white">
  <div class="container">
      <a class="navbar-brand" href="#">
          <img  class="logo" src="../assets/imgs/cglogo.png" alt="logocgl.png">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Inicio <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Servicios</a>
            </li>
            <!-- <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </li> -->
            <li class="nav-item">
              <a class="nav-link" href="#">Herramientas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Nosotros</a>
              </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contacto</a>
            </li>
          </ul>
          <!-- <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form> -->
        </div>
  </div>
  
  
</nav>