<div class="contacto-page">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2>Contacto</h2>
      </div>
    </div>
    <hr>
  </div>
  <div class="container-map">
    <agm-map [latitude]="lat1" [longitude]="lng1" [zoom]="zoom">
      <agm-marker [latitude]="lat1" [longitude]="lng1"></agm-marker>
      <agm-marker [latitude]="lat2" [longitude]="lng2"></agm-marker>
      <agm-marker [latitude]="lat3" [longitude]="lng3"></agm-marker>
      <agm-marker [latitude]="lat4" [longitude]="lng4"></agm-marker>
      <agm-marker [latitude]="lat5" [longitude]="lng5"></agm-marker>
      <agm-marker [latitude]="lat6" [longitude]="lng6"></agm-marker>

    </agm-map>
  </div>
  <br>
  <div class="container">
    <div class="contacto-container">
      <div class="row">
        <div class="col-md-7">
          <div class="oficinas">
            <h4>Nuestras Oficinas</h4>
            <hr>
            <div class="row">
              <div class="col-md-6">
                <div class="oficina">
                  <p>LIMA - OFICINA PRINCIPAL</p>
                  <hr>
                  <p>
                    <strong>Dirección: </strong> Av. Javier Prado Este 1184 Of. 102</p>
                  <p>San Isidro</p>
                  <p>Lima-Perú</p>
                  <p>
                    <strong>Telefono: </strong>(511) 201-8500</p>
                  <p>
                    <strong>E-mail:</strong> info@cglogistics.com.pe </p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="oficina">
                  <p>CALLAO</p>
                  <hr>
                  <p>
                    <strong>Dirección: </strong> Sector E, Mz. V6, Nº 17</p>
                  <p>Callao - Perú </p>
                  <p>
                    <strong>Telefono: </strong>(5154) 2014580</p>

                </div>
              </div>
              <div class="col-md-6">
                <div class="oficina">
                  <p>MATARANI</p>
                  <hr>

                  <p>
                    <strong>Dirección: </strong> Av. Arequipa Nº 364, Of. 10</p>
                  <p>Matarani - Perú</p>
                  <p>
                    <strong>Telefono: </strong>(5154) 2014580</p>

                </div>
              </div>
              <div class="col-md-6">
                <div class="oficina">
                  <p>PAITA</p>
                  <hr>

                  <p>
                    <strong>Dirección: </strong>Av. Gamarra Nº 589 – Chucuito </p>
                  <p>Paita - Perú</p>
                  <p>
                    <strong>Telefono: </strong>(5173) 2195408</p>

                </div>
              </div>

              <div class="col-md-6">
                <div class="oficina">
                  <p>PISCO</p>
                  <hr>

                  <p>
                    <strong>Dirección: </strong>Calle Beatita de Humay N° 205 </p>
                  <p>Pisco - Perú</p>
                  <p>
                    <strong>Telefono: </strong>(5156) 3203516</p>

                </div>
              </div>

            </div>
          </div>
        </div>
        <div class="col-md-5">
          <div class="formulario-contacto">
            <h5>Contáctanos</h5>
            <form action="">
              <div class="row">
                <div class="col-md-6">
                  <label for="">Nombres</label>
                  <input type="text">
                </div>
                <div class="col-md-6">
                    <label for="">Apellidos</label>
                    <input type="text">
                </div>
                <div class="col-md-6">
                    <label for="">Teléfono</label>
                    <input type="text">
                </div>
                <div class="col-md-6">
                    <label for="">Correo</label>
                    <input type="text">
                </div>
                <div class="col-md-12">
                    <label for="">Mensaje</label>
                    <textarea name="" id="" cols="30" rows="10"></textarea>
                </div>

              </div>
              <div class="row">
                <div class="col-12">
                  <button class="btn-enviar btn btn-block">Enviar <i class="fas fa-envelope"></i>

                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>