<div class="servicios-page">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2>Servicios</h2>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-6">
        <div class="card-servicio">
          <div class="title-s">
            <div class="icon-content-s">
              <i class="fas fa-plane"></i>
            </div>
            <div class="text-title-s">
              <h3>Tranporte Aéreo</h3>
            </div>
          </div>
          <div class="img-s">
            <img src="../assets/imgs/as.jpg" class="img-fluid" alt="">
          </div>
          <div class="enlc-s">
            <a [routerLink]="['/servicios','TransporteAéreo']">Ver más
              <i class="fas fa-chevron-circle-right"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card-servicio">
          <div class="title-s">
            <div class="icon-content-s">
              <i class="fas fa-truck"></i>
            </div>
            <div class="text-title-s">
              <h3>Tranporte Terrestre</h3>
            </div>
          </div>
          <div class="img-s">
            <img src="../assets/imgs/ts.jpg" class="img-fluid" alt="">
          </div>
          <div class="enlc-s">
            <a [routerLink]="['/servicios','TransporteTerrestre']">Ver más
              <i class="fas fa-chevron-circle-right"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card-servicio">
          <div class="title-s">
            <div class="icon-content-s">
              <i class="fas fa-ship"></i>
            </div>
            <div class="text-title-s">
              <h3>Tranporte Marítimo</h3>
            </div>
          </div>
          <div class="img-s">
            <img src="../assets/imgs/ms.jpg" class="img-fluid" alt="">
          </div>
          <div class="enlc-s">
            <a [routerLink]="['/servicios','TransporteMarítimo']">Ver más
              <i class="fas fa-chevron-circle-right"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card-servicio">
          <div class="title-s">
            <div class="icon-content-s">
              <i class="fas fa-suitcase"></i>
            </div>
            <div class="text-title-s">
              <h3>Embalaje</h3>
            </div>
          </div>
          <div class="img-s">
            <img src="../assets/imgs/es.jpg" class="img-fluid" alt="">
          </div>
          <div class="enlc-s">
            <a [routerLink]="['/servicios','Embalaje']">Ver más
              <i class="fas fa-chevron-circle-right"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card-servicio">
          <div class="title-s">
            <div class="icon-content-s">
              <i class="fas fa-clipboard"></i>
            </div>
            <div class="text-title-s">
              <h3>Servicio Aduanal</h3>
            </div>
          </div>
          <div class="img-s">
            <img src="../assets/imgs/adus.jpg" class="img-fluid" alt="">
          </div>
          <div class="enlc-s">
            <a [routerLink]="['/servicios','ServicioAduanal']">Ver más
              <i class="fas fa-chevron-circle-right"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>